.headerPicture {
  height: 400px;
  background-image: url(https://images.pexels.com/photos/3935702/pexels-photo-3935702.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header li {
  float: left;
}

.header li a {
  transition: all 0.3 ease-in-out;
  display: block;
  color: white;
  text-align: center;
  padding: 3rem 16px;
  text-decoration: none;
}

.header li a:active {
  color: tomato;
}

.header a:hover {
  background-color: rgb(38, 116, 119);
}

.header a:active {
  background-color: rgb(164, 255, 243);
}

.text,
.textmotto {
  margin: 0;
  font-family: "Montserrat";
}

.text {
  font-size: 2rem;
}

.text h1 {
  margin-bottom: 0;
  color: white;
}

.textmotto h5 {
  color: white;
  font-size: 1.5rem;
}

.bothtext {
  background-color: rgba(255, 255, 255, 0.2);
}

.border {
  width: 22rem;
  height: 12rem;
  border: 1px solid white;
}

a {
  text-decoration: none;
  color: white;
}

.header .title:hover {
  background-color: transparent;
  color: rgb(255, 229, 225);
}

.title {
  color: white;
}

.link svg {
  padding: 0;
}

.navbarOne {
  height: 5rem;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(74, 184, 178);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  gap: 50px;
}

.navbarTwo {
  display: none;
  height: 5rem;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(74, 184, 178);
  position: relative;
  align-items: center;
  justify-content: flex-end;
  font-size: 17px;
  gap: 50px;
}

.navbarTwo svg {
  color: white;
  font-size: 32px;
  cursor: pointer;
  margin-right: 50px;
}

.navbarTwo svg:hover {
  color: tomato;
}

.login {
  position: absolute !important;
  margin-top: -55px !important ;
  right: 50px !important;
  color: white !important;
  cursor: pointer !important;
  background-color: rgb(7, 122, 117) !important;
  border-style: none!important;
  
}

.login:hover {
  background-color: rgb(97, 212, 207) !important;
}
.login:active {
  background-color: rgb(34, 177, 170) !important;
}

.logout {
  position: absolute !important;
  margin-top: -55px !important ;
  right: 50px !important;
  color: white !important;
  cursor: pointer !important;
  background-color: rgb(255, 130, 108) !important;
  border-style: none!important;
  
}

.logout:hover {
  background-color: rgb(97, 212, 207) !important;
}
.logout:active {
  background-color: rgb(34, 177, 170) !important;
}



@media only screen and (max-width: 1100px) {
  .navbarOne {
    display: none;
  }
  .navbarTwo {
    display: flex;
  }
  .login {
    display: none !important;
  }
  .logout {
    display: none !important;
  }
  .wishlistButton { 
    display: none !important;
  }
  .avatarButton {
    display: none !important;
  }
}

.wishlistButton { 
  position: absolute;
  top: 30px;
  right: 160px;

}

.signinLogoutButton { 
  position: absolute;
  top:20%;
  left:100%;

}

.avatarButton {
  position: absolute;
  top:26px;
  right:215px;
  border-radius: 50%;
}
