.upperBar {
   background-color: black; 
   padding: 10px 0px 5px 10px;
   display: flex !important;
   align-items: flex-start !important;
   flex-direction: column !important;
   justify-content: center !important;
}

.sideBar {
    background-color: red;
    height: 200px;
}

.baraReviewuri {
    background-color: pink;
    height: 100px;
}

.baraCommenturi {
    background-color: black;
}

.baraBadge {
    background-color:red;
}

.avatardiv h1{
    display: block;
    font-size: 1em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}