.container {
  margin: 50px 120px 0 120px;
}
.upperBarLeft {
  background-color: rgb(255, 255, 255);
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}
.upperBarMiddle {
  background-color: white;

  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 30px !important;
}

.upperBarRight {
  background-color: white;
}

.navbarUser {
  height: 60px;
  border: 1px solid rgb(74, 184, 178);
}

.sideBar {
  background-color: white;
}
.profileInfoContainer {
}

.baraReviewuri {
  height: 100px;
  text-align: center;
}

.baraCommenturi {
  text-align: center;
}

.baraBadge {
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.link {
  font-size: 20px;
}

.buttonsLeft {
  display: flex;
  margin-top: 40px;
  justify-content: flex-end;
}

.infoRight {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.followers {
  text-align: center;
}

.following {
  text-align: center;
}

.location {
  display: flex;
  direction: row;
  margin-top: 60px;
}

.containerModal {
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content: space-around;

}

.containerPhotoModal {
}

.containerFormModal {
}