@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");


.headerpicture {
  height: 400px;
  background-image: url(https://images.pexels.com/photos/3935702/pexels-photo-3935702.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.header ul {
    height: 5rem;
    list-style-type: none;
    margin: 0 0 2rem 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(74, 184, 178);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;

}

.header li {
    float: left;
}

.header li a {
    transition: all 0.3 ease-in-out;
    display: block;
    color: white;
    text-align: center;
    padding: 3rem 16px;
    text-decoration: none;
}

.header li a:active {
  color:tomato;
}

.header a:hover {
    background-color: rgb(38, 116, 119);
  }

  .header a:active {
    background-color: rgb(164, 255, 243);  
  }

.text,
.textmotto {
  margin:0;
  font-family: 'Montserrat';

}

.text {
  font-size: 2rem;
}

.text h1 {
  margin-bottom: 0;
}

.textmotto {
  color: white;
}

.bothtext {
  background-color: rgba(255, 255, 255, 0.2)
}

.border {
  width: 22rem;
  height: 12rem;
  border: 1px solid white;
}

a {
  text-decoration: none;
  color: white;
}

.header .title:hover {
  background-color: transparent;
}

.link svg {
  padding: 0;
}